<template name="home">
  {{#if isSandstorm}}
    {{#if notLogged}}
      {{> login}}
    {{else}}
      {{#if sandstormGameMode "single"}}
        {{> solo}}
      {{/if}}
      {{#if sandstormGameMode "two-player"}}
        {{> roomPlay}}
      {{/if}}
    {{/if}}
  {{else}}
  <h1>{{_ "welcome-to-polytunes"}}</h1>
  <a class="btn" href="{{pathFor 'join'}}">{{_ "play-with-a-stranger"}}</a>
  <a class="btn" href="{{pathFor 'create'}}">{{_ "play-with-a-friend"}}</a>
  <a class="btn" href="{{pathFor 'solo'}}">{{_ "play-solo-offline"}}</a>
  {{/if}}
</template>
